* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #ff6e42;
    --secondary: rgba(0, 0, 0, 0.7);
}

.pt {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,
h2,
h3{
    opacity: 0.8;
}

.important{
    opacity: 0.9;
    font-weight: bold;
}

p {
    font-size: 0.9em;
    opacity: 0.5;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100vh;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-weight: bolder;
    font-size: 0.9em;
}

.bg-opc {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo,
nav {
    z-index: 2;
}

header ul li {
    display: inline;
    padding: 30px;
    cursor: pointer;

}

li button {
    background-color: var(--primary);
    padding: 15px 30px;
    border-radius: 35px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

header img {
    width: 50px;
}

.baniere {
    position: absolute;
    top: 40%;
    text-align: center;
}

.baniere p {
    opacity: 0.5;
    padding: 20px;
    word-spacing: 30px;
    font-size: 1.4em;
    letter-spacing: 5px;
    font-weight: 300;
}

.baniere h1 {
    font-size: 5em;
}

.souris {
    position: absolute;
    bottom: 50px;
    border: 2px solid white;
    width: 30px;
    height: 50px;
    border-radius: 20px;
}

.souris-anim {
    position: absolute;
    width: 1px;
    background-color: white;
    height: 7px;
    border: 1px solid white;
    top: 5px;
    left: 12px;
    animation: souris 1.5s linear 0s infinite normal forwards;
}

@keyframes souris {
    from {
        top: 5px;
        left: 12px;
    }

    to {
        top: 25px;
        opacity: 5%;
    }
}

.service {
    text-align: center;
    padding: 30px;
}

.service-item {
    width: 30%;
    text-align: left;
    border: 1px solid gainsboro;
    padding: 30px;
}

.service-item small {
    color: var(--primary);
    font-weight: bold;
}

.services-container {
    display: flex;
    justify-content: space-around;
}

.about {
    background-color: #f5f8fc;
    display: flex;
    justify-content: space-around;
}

.about-desc,
.about-img {
    width: 40%;
}

.about-desc img {
    max-width: 500px;
    max-height: 300px;
    box-shadow: 0px 0px 5px gainsboro;
}

.imgs {
    display: flex;
    justify-content: space-between;
}

.about-img img {
    max-width: 250px;
}

.portfolio{
   text-align: center;
}

.portofolio-nav{
    border: 2px solid gainsboro;
    width: 400px;
    margin: 30px auto;
    border-radius: 30px;
}

.portofolio-nav ul li{
    display: inline-block;
    padding: 13px 20px;
   
}

.portofolio-nav li:first-child{
    background-color: var(--primary);
    border-radius: 30px;
    margin-left: -12px;
    color: white;
}

.portofolio-nav li:nth-last-child(-n+3):hover{
    background-color: var(--primary);
    border-radius: 30px;
    color: white;

}