* {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
}



/*------------------------------------ General styles -----------------------------*/

:root {
    --primary: #ff6e42;
    --secondary: rgba(0, 0, 0, 0.7);
}

.mt {
    margin-top: 30px;
}



.pt {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pl {
    padding-left: 20px;
}

h1,
h2,
h3,
h4 {
    opacity: 0.8;
}

.opacity-1 {
    opacity: 1;
}

.important {
    opacity: 0.9;
    font-weight: bold;
}

p,
a {
    font-size: 0.9em;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}


/*------------------------------------ Header -----------------------------*/

header {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100vh;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-weight: bolder;
    font-size: 0.9em;
}

.bg-opc {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo,
nav {
    z-index: 2;
}

header ul li {
    display: inline;
    padding: 30px;
    cursor: pointer;

}

button {
    background-color: var(--primary);
    padding: 15px 30px;
    border-radius: 35px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

header img {
    width: 50px;
}

.baniere {
    position: absolute;
    top: 40%;
    text-align: center;
}

.baniere p {
    opacity: 0.5;
    padding: 20px;
    word-spacing: 30px;
    font-size: 1.4em;
    letter-spacing: 5px;
    font-weight: 300;
}

.baniere h1 {
    font-size: 5em;
}

.souris {
    position: absolute;
    bottom: 50px;
    border: 2px solid white;
    width: 30px;
    height: 50px;
    border-radius: 20px;
}

.souris-anim {
    position: absolute;
    width: 1px;
    background-color: white;
    height: 7px;
    border: 1px solid white;
    top: 5px;
    left: 12px;
    animation: souris 1.5s linear 0s infinite normal forwards;
}

@keyframes souris {
    from {
        top: 5px;
        left: 12px;
    }

    to {
        top: 25px;
        opacity: 5%;
    }
}


/*------------------------------------ Our Services -----------------------------*/

.service {
    text-align: center;
    padding: 30px;
}

.service-item {
    width: 350px;
    text-align: left;
    border: 1px solid gainsboro;
    padding: 30px;
}

.service-item small {
    color: var(--primary);
    font-weight: bold;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*------------------------------------ About Us -----------------------------*/

.about {
    background-color: #f5f8fc;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-desc,
.about-img {
    width: 550px;
}

.about-desc img {
    max-width: 500px;
    max-height: 300px;
    box-shadow: 0px 0px 5px gainsboro;
}

.imgs {
    display: flex;
    justify-content: space-between;
}

.about-img img {
    max-width: 250px;
}


/*------------------------------------ Portfolio -----------------------------*/

.portfolio {
    text-align: center;
}

.portofolio-nav {
    border: 2px solid gainsboro;
    width: 400px;
    margin: 30px auto;
    border-radius: 30px;
}

.portofolio-nav ul li {
    display: inline-block;
    padding: 13px 20px;

}

.portofolio-nav li:first-child {
    background-color: var(--primary);
    border-radius: 30px;
    margin-left: -12px;
    color: white;
}

.portofolio-nav li:nth-last-child(-n+3):hover {
    background-color: var(--primary);
    border-radius: 30px;
    color: white;
}

.portfolio-img-containers {
    display: flex;
    flex-wrap: wrap;
    height: 150vh;
    justify-content: space-around;


}

.portfolio-img-container {
    width: 28%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;

}

.portfolio-img-container img {
    width: 100%;
    height: 100%;
}

.img {
    position: relative;
    overflow: hidden;
    max-height: 100%;

}

.overlay {
    background-color: #ff6e42;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 99%;
    top: 0;
    bottom: 0;
    right: -100%;

}

.overlay-content {
    color: white;
    position: absolute;
    width: 100%;
    top: 45%;
    /* bottom: 50%; */
}

.img:hover .overlay {
    right: 0;
    transition: all .5s;
    transition-timing-function: ease-in-out;
}


/*------------------------------------ Articles -----------------------------*/

.articles {
    background-color: #f5f8fc;

    max-height: none;
}

.articles-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.article-item {
    width: 350px;
    box-shadow: 0px 0px 50px white;
    margin-bottom: 20px;
    padding-bottom: 50px;
    background-color: white;
}

.article-item img {
    width: 350px;
}

/*------------------------------------ Testimonies -----------------------------*/


.testimonies {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.client {
    width: 350px;
    border: 1px solid gainsboro;
    margin-right: 35px;
}

.client img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.client h3 {
    padding: 10px;
}

.client-desc {
    clear: left;
}

/*------------------------------------ footer -----------------------------*/

footer{
    background-image: url(images/section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
 
 
}

.contact {
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3;
}

.adress {
    width: 470px;
}


.form {
    width: 500px;
    z-index: 3;
}

input,
textarea {
    border: none;
    border-bottom: 3px solid white;
    padding: 20px 0px;
    outline: none;
    background-color: transparent;
    color: white;
}

input:focus, textarea:focus {
    border-bottom: 3px solid #ff6e42;
}

.copy{
    width: 970px;
    border-top: 1px solid gainsboro;
    margin: auto;
    z-index: 3;
   
}

span{
    color: #ff6e42;
    cursor: pointer;
}